<div>
  <div class="Polaris-Card">
    <div>
      <div class="Polaris-Tabs__Wrapper">
        <div class="Polaris-Tabs Polaris-Tabs__TabMeasurer">
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="all-customers-1Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">All</span></button></li>
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="accepts-marketing-1Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="true"><span class="Polaris-Tabs__Title">Accepts marketing</span></button></li>
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="repeat-customers-1Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Repeat customers</span></button></li>
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="prospects-1Measurer" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false"><span class="Polaris-Tabs__Title">Prospects</span></button></li><button type="button" class="Polaris-Tabs__DisclosureActivator" aria-label="More tabs"><span class="Polaris-Tabs__Title"><span class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                  <path d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"></path>
                </svg></span></span></button>
        </div>
        <ul role="tablist" class="Polaris-Tabs">
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="all-customers-1" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--selected" aria-selected="false" aria-controls="all-customers-content-1" aria-label="All customers"><span class="Polaris-Tabs__Title">Home</span></button></li>
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="accepts-marketing-1" role="tab" type="button" tabindex="0" class="Polaris-Tabs__Tab" aria-selected="true" aria-controls="accepts-marketing-content-1"><span class="Polaris-Tabs__Title">Reviews</span></button></li>
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="repeat-customers-1" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" aria-controls="repeat-customers-content-1"><span class="Polaris-Tabs__Title">Order</span></button></li>
          <li class="Polaris-Tabs__TabContainer" role="presentation"><button id="prospects-1" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" aria-controls="prospects-content-1"><%= link_to "Reward",rewardpoints_path, class: "Polaris-Tabs__Title", style: "text-decoration: none; color: var(--p-text,#637381);", remote: true %></button></li>

          <li class="Polaris-Tabs__DisclosureTab" role="presentation">
            <div><button type="button" class="Polaris-Tabs__DisclosureActivator" aria-label="More tabs" tabindex="0" aria-controls="Polarispopover10" aria-owns="Polarispopover10" aria-expanded="false"><span class="Polaris-Tabs__Title"><span class="Polaris-Icon Polaris-Icon--colorSubdued Polaris-Icon--applyColor"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                      <path d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"></path>
                    </svg></span></span></button></div>
          </li>
        </ul>
      </div>
      <div class="Polaris-Tabs__Panel" id="all-customers-content-1" role="tabpanel" aria-labelledby="all-customers-1" tabindex="-1">
        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3 aria-label="All customers" class="Polaris-Subheading">All customers</h3>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</h6>
        </div>
      </div>
      <div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="accepts-marketing-content-1" role="tabpanel" aria-labelledby="accepts-marketing-1" tabindex="-1">
        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3 aria-label="Accepts marketing" class="Polaris-Subheading">Accepts Reviews</h3>
          </div>
          <button class="Polaris-Button Polaris-Button--primary" id="AddReviewButton" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text"></span>Add Review</span></button>
        </div>
      </div>
      <div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="repeat-customers-content-1" role="tabpanel" aria-labelledby="repeat-customers-1" tabindex="-1">
        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3 aria-label="Repeat customers" class="Polaris-Subheading">Repeat customers</h3>
          </div>
          <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Enim ut sem viverra aliquet. Sapien nec sagittis aliquam malesuada bibendum arcu. Dictumst vestibulum rhoncus est pellentesque.
          </h6>
        </div>
      </div>
      <div class="Polaris-Tabs__Panel Polaris-Tabs__Panel--hidden" id="prospects-content-1" role="tabpanel" aria-labelledby="prospects-1" tabindex="-1">
        <div class="Polaris-Card__Section">
          <div class="Polaris-Card__SectionHeader">
            <h3 aria-label="Prospects" class="Polaris-Subheading">Features</h3>
          </div>
          <div class="Polaris-Card">
            <div class="Polaris-Card__Header">
              <div class="Polaris-Stack Polaris-Stack--alignmentBaseline">
                <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
                  <h2 class="Polaris-Heading">Variants</h2>
                </div>
                <div class="Polaris-Stack__Item">
                  <div class="Polaris-ButtonGroup">
                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain"><button class="Polaris-Button Polaris-Button--plain" type="button"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add variant</span></span></button></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Polaris-Card__Section">
              <p>Add variants if this product comes in multiple versions, like different sizes or colors.</p>
            </div>
          </div>
          <%# <%= render 'layouts/reward_section' %> 
        </div>
      </div>
    </div>
  </div>
  <div id="PolarisPortalsContainer">
    <div data-portal-id="popover-Polarisportal5">
      <%# <%= render 'layouts/modal' %> 
    </div>
  </div>
  <div id="index"></div>
</div>